/* From Uiverse.io by mrhyddenn */ 
.volver-btn {
    background: #3dc49d;
    border: none;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  .btn-volver-text {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .volver-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    z-index: 0;
    transition: all 0.5s;
  }
  
  .volver-btn:hover {
    color: #fff;
  }
  
  .volver-btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }



  .input-especificaciones, .input-observaciones{
    max-width: 100% !important;

  }


  .show-input {
    width: 100% !important;
    height: 2rem;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    padding: 1rem;
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px rgb(53, 51, 51),
      -1px -1px 20px rgba(59, 56, 56, 0.781);
    outline: none;
    border-radius: 10px;
    font-size: medium;
  }
  
  .show-input:focus {
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px black,
      -1px -1px 5px rgba(68, 67, 67, 0.781),
      inset -1px -1px 5px rgba(66, 65, 65, 0.822);
  }




  /* From Uiverse.io by KlaujonRuamni */ 
.beautiful-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #3dc49d, #3dc49d);
 /* Gradient background */
  color: rgb(0, 0, 0);
 /* White text color */
 /* Stylish and legible font */
  font-size: 15px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 10px;
 /* Rounded corners */
  padding: 8px 15px;
 /* Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #3dc49d, #3dc49d);
  color: #fff;
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

/* Click animation */
.beautiful-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}
  
  