@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');



.flex-1 .navbar{
    background: #56779772 !important;
    
}

.nav-link{
    color: rgba(156, 236, 248, 0.79) !important;
}

.navbar-brand {
    font-weight: 800;
    color: white !important;
    

}

body {  

background-color: #000000;
background: linear-gradient(to right, #252578, #85f5ff67, #000000); }


@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
}


h1{
  font-size: 50px;
}

.create-btn-container{
  margin-top: -60px;
}



.create-btn {
  font-size: 0.8rem;
  padding: 0.5rem 1.7rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.create-btn:active {
  scale: 0.92;
}

.create-btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}


.modal-content {
  background-color: #070819  !important;
}




.modal-header-container{
  display: flex;
  justify-content: space-between;
}


.form {
  --width-of-input: 80%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
 }
 /* styling of Input */
 .input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 input:hover {
 }
 
 input:focus {
  outline: none;
 }
 /* here is code of animated border */
 input:focus ~ .input-border {
  width: 100%;
 }
 /* === if you want to do animated border on typing === */
 /* remove input:focus code and uncomment below code */
 /* input:valid ~ .input-border{
   width: 100%;
 } */




.btn-search-dni {
  background: none;
  border: none;
  padding: 7px 10px;
  border-radius:50%;
  cursor: pointer;
}

.btn-search-dni:hover {
  background: #5891ff;
  transition: 0.5s;
}

.btn-search-dni svg {
  color: #fff;
}





:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgba(255, 255, 255, 0);
  --select-bg: rgba(255, 255, 255, 0.2);
}


/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}







.show-btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #9ee5fa;
  --color-background: #17161695;
  --color-outline: #a4fa9e80;
  --color-shadow: #00000080;
}

.show-btn-content {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 50%;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.show-btn-content:hover,
.show-btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.show-btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.show-btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 15px;
}

.icon-arrow {
  width: 20px;
  margin-left: 9px;
  position: relative;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.show-btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.show-btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.show-btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: #9ee5fa;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}


tbody{
  font-size: 14px;
}
/* 

a {
  color: rgba(255, 255, 255, 0.692);
  padding: -5px -5px -5px -5px;
  display: flex;
  align-items: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
  background: rgba(255, 255, 255, 0.068);
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 400;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}

a:hover {
  border-color: rgba(255, 255, 255, 0.623);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.144),
    rgba(255, 255, 255, 0.247),
    rgba(255, 255, 255, 0.39)
  );
  box-shadow: 0 6px rgba(255, 255, 255, 0.623);
  transform: translateY(-6px);
}

a:active {
  transform: translateY(2px);
  box-shadow: none;
} */


