input[type="checkbox"]
{
    position:relative;
    top: 2px;
    width: 20px;
    height: 20px;
    appearance: none;
    outline: none;
    transition: .5s;
}

input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #262626;
    box-sizing: border-box;
    transition: .5s;
}

input:checked[type="checkbox"]:before
{
    border-left: none;
    border-top: none;
    width: 10px;
    border-color: #0f0;
    transform: rotate(45deg) translate(2.5px, -7.3px); 
}



.label-checkbox{
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 10px;
}





.link-sidebar-btn {
    font-family: inherit;
    color: rgb(223, 227, 255);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .link-sidebar-btn:focus,
  .link-sidebar-btn:hover {
  }
  
  .link-sidebar-btn:focus:after,
  .link-sidebar-btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .link-sidebar-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(223, 227, 255);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

